# Data Science Tools and Ecosystem

In this notebook, data science and ecosystems are summarized

**Objectives:**

- Renamed Jupyter Notebook and added .ipynb extension
- Created H1 Heading
- Put a heading in Bold text using asterisk
- Listed Popular Languages that Data Scientists use
- Listed commonly used Libraries by Data Scientists
- Simple Arithmetic expression was executed
- 200 minutes was converted to hours by dividing with 60

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. SQL
4. R
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Pytorch
3. Beautiful Soup
4. Tensor Flow
5. Keras

| Data Science Tools |
| :------------------- |
| Jupyter Notebook    |
| Jupyter Labs        |
| RStudio             |
| Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [39]:
(3*4)+5

17

In [40]:
#This will convert 200 minutes to hours by diving by 60

In [42]:
mins=200
hours=mins/60
print(hours)

3.3333333333333335

## Author
Aryan Rai